In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
# Load the CSV file into DataFrame
df1 = pd.read_csv('/home/b/Documents/week8/Logistic-Optimization/data/nb.csv')
print(df1.head(5).to_string())

   Trip ID                         Trip Origin                 Trip Destination      Trip Start Time        Trip End Time
0   391996  6.508813001668548,3.37740316890347      6.650969799999999,3.3450307  2021-07-01 07:28:04  2021-07-01 07:29:37
1   391997                 6.4316714,3.4555375  6.4280814653326,3.4721885847586  2021-07-01 06:38:04  2021-07-01 07:07:28
2   391998         6.631679399999999,3.3388976      6.508324099999999,3.3590397  2021-07-01 06:21:02  2021-07-01 07:02:23
3   391999         6.572757200000001,3.3677082      6.584881099999999,3.3614073  2021-07-01 07:16:07  2021-07-01 07:29:42
4   392001                 6.6010417,3.2766339              6.4501069,3.3916154  2021-07-01 09:30:59  2021-07-01 09:34:36

In [21]:
print(df1.tail(2).to_string())

        Trip ID                  Trip Origin                     Trip Destination      Trip Start Time        Trip End Time
536018  1637705          6.5869296,3.3632966          6.637906899999999,3.3339515  2021-12-30 20:48:50  2021-12-30 21:08:28
536019  1637709  6.647209999999999,3.4851489  6.454915198823159,3.555839938365194  2021-12-30 20:55:38  2021-12-30 22:25:00

In [16]:
# Load the CSV file into DataFrame
df2 = pd.read_csv('/home/b/Documents/week8/Logistic-Optimization/data/driver_locations_during_request.csv')
print(df2.head(5).to_string())

   id  order_id  driver_id driver_action       lat       lng  created_at  updated_at
0   1    392001     243828      accepted  6.602207  3.270465         NaN         NaN
1   2    392001     243588      rejected  6.592097  3.287445         NaN         NaN
2   3    392001     243830      rejected  6.596133  3.281784         NaN         NaN
3   4    392001     243539      rejected  6.596142  3.280526         NaN         NaN
4   5    392001     171653      rejected  6.609232  3.288800         NaN         NaN

In [20]:
print(df2.tail(2).to_string())

              id  order_id  driver_id driver_action       lat       lng  created_at  updated_at
1557738  1557739    517948     243774      rejected  6.469036  3.566877         NaN         NaN
1557739  1557740    517948     244170      rejected  6.469390  3.572079         NaN         NaN

In [38]:
# Concatenate DataFrames row-wise
merged_df = pd.concat([df1, df2], axis=1)
merged_df.to_csv('merged_data.csv', index=False)
print(merged_df.head(5).to_string())

    Trip ID                         Trip Origin                 Trip Destination      Trip Start Time        Trip End Time  id  order_id  driver_id driver_action       lat       lng  created_at  updated_at
0  391996.0  6.508813001668548,3.37740316890347      6.650969799999999,3.3450307  2021-07-01 07:28:04  2021-07-01 07:29:37   1    392001     243828      accepted  6.602207  3.270465         NaN         NaN
1  391997.0                 6.4316714,3.4555375  6.4280814653326,3.4721885847586  2021-07-01 06:38:04  2021-07-01 07:07:28   2    392001     243588      rejected  6.592097  3.287445         NaN         NaN
2  391998.0         6.631679399999999,3.3388976      6.508324099999999,3.3590397  2021-07-01 06:21:02  2021-07-01 07:02:23   3    392001     243830      rejected  6.596133  3.281784         NaN         NaN
3  391999.0         6.572757200000001,3.3677082      6.584881099999999,3.3614073  2021-07-01 07:16:07  2021-07-01 07:29:42   4    392001     243539      rejected  6.596142  3.280526         NaN         NaN
4  392001.0                 6.6010417,3.2766339              6.4501069,3.3916154  2021-07-01 09:30:59  2021-07-01 09:34:36   5    392001     171653      rejected  6.609232  3.288800         NaN         NaN

In [39]:
print(merged_df.tail(5).to_string())

         Trip ID Trip Origin Trip Destination Trip Start Time Trip End Time       id  order_id  driver_id driver_action       lat       lng  created_at  updated_at
1557735      NaN         NaN              NaN             NaN           NaN  1557736    517948     243774      rejected  6.469036  3.566877         NaN         NaN
1557736      NaN         NaN              NaN             NaN           NaN  1557737    517948     245447      rejected  6.425431  3.527358         NaN         NaN
1557737      NaN         NaN              NaN             NaN           NaN  1557738    517948     239866      rejected  6.440013  3.525378         NaN         NaN
1557738      NaN         NaN              NaN             NaN           NaN  1557739    517948     243774      rejected  6.469036  3.566877         NaN         NaN
1557739      NaN         NaN              NaN             NaN           NaN  1557740    517948     244170      rejected  6.469390  3.572079         NaN         NaN

In [40]:
missing_values = merged_df.isna().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Trip ID             1021720
Trip Origin         1021720
Trip Destination    1021720
Trip Start Time     1023371
Trip End Time       1021721
id                        0
order_id                  0
driver_id                 0
driver_action             0
lat                       0
lng                       0
created_at          1557740
updated_at          1557740
dtype: int64

In [37]:
total_missing = merged_df.isna().sum().sum()
print("\nTotal missing values in the DataFrame:", total_missing)

Total missing values in the DataFrame: 8225732

#### Converting to datetime

In [41]:
merged_df['Trip Start Time']= pd.to_datetime(merged_df['Trip Start Time'])
merged_df['Trip End Time'] = pd.to_datetime(merged_df['Trip End Time'])

In [42]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557740 entries, 0 to 1557739
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Trip ID           536020 non-null   float64
 1   Trip Origin       536020 non-null   object
 2   Trip Destination  536020 non-null   object
 3   Trip Start Time   534369 non-null   datetime64[ns]
 4   Trip End Time     536019 non-null   datetime64[ns]
 5   id                1557740 non-null  int64
 6   order_id          1557740 non-null  int64
 7   driver_id         1557740 non-null  int64
 8   driver_action     1557740 non-null  object
 9   lat               1557740 non-null  float64
 10  lng               1557740 non-null  float64
 11  created_at        0 non-null        float64
 12  updated_at        0 non-null        float64
dtypes: datetime64[ns](2), float64(5), int64(3), object(3)
memory usage: 154.5+ MB

#### Univariate analysis

In [46]:
merged_df.describe(datetime_is_numeric=True)

,Trip ID,Trip Start Time,Trip End Time,id,order_id,driver_id,lat,lng,created_at,updated_at
count,5.360200e+05,534369,536019,1.557740e+06,1.557740e+06,1.557740e+06,1.557740e+06,1.557740e+06,0.0,0.0
mean,9.910221e+05,2021-10-02 10:24:45.446032896,2021-10-02 15:06:34.897927424,7.788705e+05,4.191833e+05,2.341505e+05,6.536031e+00,3.378877e+00,NaN,NaN
min,3.919960e+05,2021-07-01 06:21:02,2021-07-01 07:02:23,1.000000e+00,3.920010e+05,1.219810e+05,6.409333e+00,3.076561e+00,NaN,NaN
25%,6.935610e+05,2021-08-18 13:53:25,2021-08-18 15:36:08.500000,3.894358e+05,4.067650e+05,2.429970e+05,6.498694e+00,3.348810e+00,NaN,NaN
50%,9.910085e+05,2021-10-05 11:27:22,2021-10-05 14:22:56,7.788705e+05,4.216870e+05,2.435890e+05,6.544247e+00,3.363504e+00,NaN,NaN
75%,1.281570e+06,2021-11-16 18:32:00,2021-11-17 11:59:15.500000,1.168305e+06,4.293130e+05,2.440560e+05,6.593276e+00,3.385177e+00,NaN,NaN
max,1.637709e+06,2022-06-13 10:04:28,2022-06-13 10:42:15,1.557740e+06,5.179480e+05,2.478770e+05,7.702536e+00,8.515414e+00,NaN,NaN
std,3.456364e+05,NaN,NaN,4.496809e+05,1.444531e+04,2.270475e+04,5.998150e-02,5.333432e-02,NaN,NaN

In [44]:
# for non-numeric columns
merged_df.select_dtypes(exclude=['float','int', 'datetime']).describe(datetime_is_numeric=False)

               Trip Origin     Trip Destination driver_action
count               536020               536020       1557740
unique              112142               147520             2
top     6.6137933,3.357997  6.4567308,3.5309404      rejected
freq                   888                  844       1531837

#### Multivariate analysis

In [47]:
merged_df.corr()

/tmp/ipykernel_90048/4191659586.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  merged_df.corr()

,Trip ID,id,order_id,driver_id,lat,lng,created_at,updated_at
Trip ID,1.000000,0.999583,0.999537,-0.050615,-0.008649,0.021318,NaN,NaN
id,0.999583,1.000000,0.990965,0.026861,-0.017755,0.046669,NaN,NaN
order_id,0.999537,0.990965,1.000000,0.023262,-0.019077,0.047058,NaN,NaN
driver_id,-0.050615,0.026861,0.023262,1.000000,-0.038278,0.054652,NaN,NaN
lat,-0.008649,-0.017755,-0.019077,-0.038278,1.000000,-0.697142,NaN,NaN
lng,0.021318,0.046669,0.047058,0.054652,-0.697142,1.000000,NaN,NaN
created_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
updated_at,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN